SECRET_KEY=replace_with_django_secret
GHUSER=replace_with_github_username
GHBEARER=replace_with_github_fine_grained_token
GENURL=https://rdgen.example.ru
ZIP_PASSWORD=replace_with_zip_password
GHBRANCH=master
PROTOCOL=https
REPONAME=rdgen
SH_SECRET=
DEBUG=false
RD_DEFAULT_LANGUAGE=ru
RD_DEFAULT_HOMEPAGE_URL=https://support.example.ru/rustdesk
RD_DEFAULT_DOWNLOAD_URL=https://downloads.example.ru/rustdesk
RD_DEFAULT_COMPANY_NAME=RustDesk RU
RD_RF_LEGAL_NOTICE=Настоящая сборка предназначена для законного удалённого доступа, администрирования и технической поддержки и должна использоваться в соответствии с применимым законодательством Российской Федерации.
